@import (reference) '../bower_components/bootstrap/less/bootstrap.less';

table {
    .table();
}

/* Procedural amendments */
.amendment {
    .addition {
	font-weight: bold;
    }
    .deletion {
	text-decoration: line-through;
    }
}

/* 2019 Historic Landmark Event */
.landmark-event {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url('/images/events/historic-landmark-2019/background.jpg');
    img {
	.img-responsive();
    }
    .row {
	margin-bottom: 20px;
    }
    h2 {
	margin-top: 5px;
    }
}

/* Global body styles */
body {
    /* Trigger Unicode support to IE */
    font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, sans-serif;
}

/* Global list style */
ul {
    list-style-type: circle;
}
ul,dl,ol.indent {
    margin-left: 20px;
}

/* A list of events, eg. a program for a symposium */
dl.events dt {
    margin-top: 15px;
    text-transform: capitalize;
}

/* A lit of awards with the award name and the receipients */
dl.awards dt {
    margin-top: 15px;
}

img.beer-logo {
    max-height: 2.5em;
}

.facebook-logo {
    /* Horizontal desktop menu */
    @media (min-width: 768px) {
	float: right;
	a {
	    padding: 9px !important;
	}
	img {
	    height: 32px;
	}
	.facebook-label {
	    display: none;
	}
    }
    /* Condensed mobile menu */
    @media (max-width: 768px) {
	img {
	    height: 20px;
	}
    }
}
/* Logo and title header on every page */
.header {
    color: rgb(0, 75, 154);
    .make-row();
    p {
	font-size: small;
    }
    .section-logo,
    .acs-logo {
	img {.img-responsive();}
    }
    .section-logo {
	.make-md-column(2);
    }
    .acs-logo {
	.make-md-column(3);
    }
    .info {
	.make-md-column(7);
    }
    .title,.mission {
	text-align: justify;
	.make-row();
	> div {
	    .make-md-column(12);
	}
    }
    @media (max-width: @screen-xs-max) {
	.mission { display: none; }
    }
}
/* Copyright and webmaster link */
.footer {
    .text-center;
    margin-top: 20px;
}

hr {
    border-top-color: rgb(125, 125, 125);
}

.newsblock {
    p {
	text-align: justify;
    }
    img {
	float: right;
	margin: 12px;
    }
}
#events address {
    margin-left: 35px;
}

.correction {
    font-weight: bold;
    color: red;
}

blockquote {
    font-size: inherit;
}

img.diploma {
    max-width: 80px;
}

/* ChemLuminary award icon */
@font-face {
    font-family: kacs-icons;
    src: url(/css/kacs-icons.eot);
    src: url(/css/kacs-icons.ttf);
}
.chemluminary-icon:before {
    font-family: kacs-icons;
    content: 's';
}

/* Landing page styles */
#landing-page {
    margin-top: 10px;
    .features {
	.make-row();
	.highlights {
    	    .make-md-column(8);
	    .carousel-caption {
		background: rgba(100, 100, 100, 0.75);
		border-radius: 25px;
	    }
	}
	.announcements {
	    .make-md-column(4);
	    h2 {
		font-size: 20px;
	    }
	    h3 {
		font-size: 18px;
	    }
	    h4 {
		font-size: 16px;
	    }
	    img {
		.img-responsive();
	    }
	    li {
		margin-left: -20px;
	    }
	}
    }
    .eod-description {
	.make-md-column(6);
	.make-md-column-offset(1);
	.eod-donors {
	    .make-md-column(6);
	}
	.chemluminary {
	    .make-md-column(6);
	    .visible-lg;
	}
    }
    .eod-photo {
	.make-md-column(3);
	.make-md-column-offset(1);
	img {
	    .img-responsive();
	}
    }
    @media (min-width: @screen-md-min) {
	.newsblock {
	margin-left: 100px;
	margin-right: 100px;
	}
    }
    .current-newsletter {
	.make-row();
	.summary {
	    .make-md-column(4);
	    .make-md-column-offset(1);
	}
	.chair-photo {
	    .make-md-column(2);
	    .text-center;
	    img {
		.img-responsive();
	    }
	}
    }
}

/* Event list styles */
.event-list {
    li {
	font-style: italic;
    }
    li.future-event {
	font-style: normal;
	font-weight: bold;
    }
}

/* Event page style */
.event-date {
    font-style: italic;
}
.event-details {
    margin-bottom: 15px;
}

/* Logos for sponsors of chem & culture: food event */
.no-border {
    img {
	border-width: 0px !important;
    }
}
.food-sponsors {
    .make-row();
    .sponsor-big {
	.make-xs-column(6);
    }
    .sponsor-small {
	.make-xs-column(4);
	.make-sm-column-offset(4);
    }
}
.food-sponsors-secondary {
    .make-row();
    > div {
	.make-md-column(2);
    }
    img {
	.img-responsive();
    }
}

/* Chemical strutures */
.chemical-structure {
    .row();
    img {
	border-style: none !important;
    }
}

/* Main index page news feed */
.feed h3 {
    font-variant: small-caps;
}
.feed > tbody > tr {
    border-style: solid none;
    border-color: grey;
    border-width: 1px;
}

/* Outdent the first line with respect to the rest */
.outdent {
    text-indent: -30px;
    margin-left: 30px;
}

/* Shows logos of donors on main page */
.eod-donors {
    position: relative;
    display: inline-block;
    @media (min-width: 1200px) {
	margin-top: 45px;
	margin-bottom: 20px;
    }
    @media (max-width: 1200px) {
	margin-top: 25px;
	margin-bottom: 100px;
    }
    img {
	position: absolute;
	display: none;
	margin-left: 25px;
	top: 0;
	left: 0;
	z-index: 8;
    }
    img.active {
	z-index: 10;
    }
    img.last-active {
	z-index: 9;
    }
}

#dance-photos {
    margin-bottom: 50px;
}
#more-button {
    position: relative;
    float: right;
    margin-top: 10px;
    /* margin-top: -38px; */
    margin-bottom: 20px;
    margin-right: 20px;
    z-index: 7;
}

/* Change headers of main content to be smaller */
.content h1 {
    font-size: x-large;
}
.content h2 {
    font-size: large;
}

/* Make the author of some content stand out */
.author {
    padding-left: 30px;
    font-style: italic;
}

/* Special styling for generic page content */
.page-content img {
    .img-responsive();
    .img-thumbnail();
}

/* List of executive committee officers */
.officers-row {
    .make-row();
    h2,h3 {
	font-size: 100%;
	margin-bottom: 0px;
    }
    h2 { /* Office title */
	font-weight: bold;
    }
    h3 { /* officer name */
	margin-top: 0px;
	font-style: italic;
    }
    > div {
	.make-md-column(4);
    }
}

/* Photo grid */
.photo-row {
    .make-row();
    > div {
	margin-top: 15px;
	margin-bottom: 15px;
    }
    img {
	.img-responsive();
	.img-thumbnail;
    }
}

/* Secondary sidebar navigation */
.sidebar-nav {
    .make-md-column(3);
    h1 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0px;
    }
    h2 {
	font-size: 18px;
    }
    ul {
	padding-left: 20px;
    }
    li.active
    {
	font-weight: bold;
    }
}

/* Executive committee minutes */
.minutes {
    h1 {
	font-size: 20px;
    }
    .minutes-metadata {
	.make-row();
	> dl {
	    .make-md-column(6);
	    dd {
		margin-left: 15px;
	    }
	    ul {
		list-style-position: inside;
		padding: 0px;
	    }
	}
    }
}
/* EC Minutes lists */
.minutes-row {
    .make-row();
    margin: 10px;
    > div {
	.make-md-column(4);
    }
}

/* Annual reports list */
.reports-row {
    .make-row();
    margin: 10px;
    > div {
	.make-md-column(3);
    }
}

/* Newsletter */
.newsletter-container,.about-container {
    .make-md-column(9);
    @media (min-width: @screen-md-min) {
	.pull-right;
    }
}
.thumbnail-images {
    img:not(.img-default) {
	.img-responsive();
	.img-thumbnail;
	border-style: solid
    }
}
.newsletter-content {
    p {
	text-align: justify;
    }
    p.caption {
	text-align: left;
	font-size: 90%;
    }
    .thumbnail-images;
    h1 {
	font-size: 30px;
	padding: 5px;
    }
    .h1-color(@primary-color: rgb(200, 200, 200); @secondary-color: rgb(230, 230, 230)) {
    	background: @secondary-color; /* default: grey */
	border-color: @primary-color; /* grey */
	border-image: linear-gradient(@primary-color, @secondary-color);
	border-style: solid;
	border-width: 6px 0px 0px 0px;
    }
    h2 {
	font-size: 24px;
    }
    h3 {
	font-size: 18px;
    }
    /* Background heading colors by year (Pantone color of the year) */
    &[year="2013"] h1 {
	.h1-color(rgb(0, 152, 116); rgba(0, 152, 116, 0.2)); /* emerald green */
    }
    &[year="2014"] h1 {
    	.h1-color(rgb(177, 99, 163); rgba(177, 99, 163, 0.25)); /* Radiant Orchid */
    }
    &[year="2015"] h1 {
	.h1-color(rgb(150, 79, 76); rgba(150, 79, 76, 0.2)); /* Marsala */
    }
    &[year="2016"] h1 {
	/* Rose Quartz and Serenity */
	background-image: linear-gradient(rgba(255, 182, 190, 0.3),
					  rgba(142, 166, 208, 0.3));
    }
    &[year="2017"] h1 {
	.h1-color(rgb(135, 175, 73); rgba(135, 175, 73, 0.2)); /* Greenery */
    }
    &[year="2018"] h1 {
	.h1-color(rgb(96, 76, 141); rgba(96, 76, 141, 0.2)); /* Ultra violet */
    }
}

.chair-comments {
    .make-row();
    .comments-content {
	.make-md-column(8);
    }
    .comments-photo {
	.make-md-column(4);
     }
}
.report {
    dd {
	margin-left: 15px;
    }
    .options {
	.make-row();
	> div {
	    .make-md-column(6);
	}
	ul {
	    list-style-type: none;
	}
    }
}

.rainbow {
    font-weight: bold;
    /* Color gradient (webkit only) */
    background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(0, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#white-lecture-donors {
    .make-md-column(4);
    ul {
	list-style-type: none;
    }
    li {
	margin-bottom: 15px;
    }
    img {
	width: 181px;
    }
}

#earth-day-table {
    margin-left: 100px;
    margin-bottom: 10px;
    td {
	padding: 0px 5px;
    }
}

.student-chapters {
    .make-row();
    h2 {
	font-size: 20px;
    }
    > div {
	.make-md-column(6);
    }
}
