@media screen and (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}.header:before,
.header:after,
.header .title:before,
.header .title:after,
.header .mission:before,
.header .mission:after,
#landing-page .features:before,
#landing-page .features:after,
#landing-page .current-newsletter:before,
#landing-page .current-newsletter:after,
.food-sponsors:before,
.food-sponsors:after,
.food-sponsors-secondary:before,
.food-sponsors-secondary:after,
.chemical-structure:before,
.chemical-structure:after,
.officers-row:before,
.officers-row:after,
.photo-row:before,
.photo-row:after,
.minutes .minutes-metadata:before,
.minutes .minutes-metadata:after,
.minutes-row:before,
.minutes-row:after,
.reports-row:before,
.reports-row:after,
.chair-comments:before,
.chair-comments:after,
.report .options:before,
.report .options:after,
.student-chapters:before,
.student-chapters:after {
  content: " ";display: table;
}
.header:after,
.header .title:after,
.header .mission:after,
#landing-page .features:after,
#landing-page .current-newsletter:after,
.food-sponsors:after,
.food-sponsors-secondary:after,
.chemical-structure:after,
.officers-row:after,
.photo-row:after,
.minutes .minutes-metadata:after,
.minutes-row:after,
.reports-row:after,
.chair-comments:after,
.report .options:after,
.student-chapters:after {
  clear: both;
}
/* 2019 Historic Landmark Event */
.landmark-event {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url('/images/events/historic-landmark-2019/background.jpg');
}
.landmark-event .row {
  margin-bottom: 20px;
}
.landmark-event h2 {
  margin-top: 5px;
}
/* Global body styles */
body {
  /* Trigger Unicode support to IE */
  font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, sans-serif;
}
/* Global list style */
ul {
  list-style-type: circle;
}
ul,
dl,
ol.indent {
  margin-left: 20px;
}
/* A list of events, eg. a program for a symposium */
dl.events dt {
  margin-top: 15px;
  text-transform: capitalize;
}
/* A lit of awards with the award name and the receipients */
dl.awards dt {
  margin-top: 15px;
}
img.beer-logo {
  max-height: 2.5em;
}
.facebook-logo {
  /* Horizontal desktop menu */
  /* Condensed mobile menu */
}
@media (min-width: 768px) {
  .facebook-logo {
    float: right;
  }
  .facebook-logo a {
    padding: 9px !important;
  }
  .facebook-logo img {
    height: 32px;
  }
  .facebook-logo .facebook-label {
    display: none;
  }
}
@media (max-width: 768px) {
  .facebook-logo img {
    height: 20px;
  }
}
/* Logo and title header on every page */
.header {
  color: #004b9a;
  margin-left: -15px;
  margin-right: -15px;
}
.header p {
  font-size: small;
}
.header .section-logo img,
.header .acs-logo img {
  display: block;
  max-width: 100%;
  height: auto;
}
.header .section-logo {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .header .section-logo {
    float: left;
    width: 16.66666667%;
  }
}
.header .acs-logo {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .header .acs-logo {
    float: left;
    width: 25%;
  }
}
.header .info {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .header .info {
    float: left;
    width: 58.33333333%;
  }
}
.header .title,
.header .mission {
  text-align: justify;
  margin-left: -15px;
  margin-right: -15px;
}
.header .title > div,
.header .mission > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .header .title > div,
  .header .mission > div {
    float: left;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header .mission {
    display: none;
  }
}
/* Copyright and webmaster link */
.footer {
  text-align: center;
  margin-top: 20px;
}
hr {
  border-top-color: #7d7d7d;
}
.newsblock p {
  text-align: justify;
}
.newsblock img {
  float: right;
  margin: 12px;
}
#events address {
  margin-left: 35px;
}
.correction {
  font-weight: bold;
  color: red;
}
blockquote {
  font-size: inherit;
}
img.diploma {
  max-width: 80px;
}
/* ChemLuminary award icon */
@font-face {
  font-family: kacs-icons;
  src: url(/css/kacs-icons.eot);
  src: url(/css/kacs-icons.ttf);
}
.chemluminary-icon:before {
  font-family: kacs-icons;
  content: 's';
}
/* Landing page styles */
#landing-page {
  margin-top: 10px;
}
#landing-page .features {
  margin-left: -15px;
  margin-right: -15px;
}
#landing-page .features .highlights {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #landing-page .features .highlights {
    float: left;
    width: 66.66666667%;
  }
}
#landing-page .features .highlights .carousel-caption {
  background: rgba(100, 100, 100, 0.75);
  border-radius: 25px;
}
#landing-page .features .announcements {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #landing-page .features .announcements {
    float: left;
    width: 33.33333333%;
  }
}
#landing-page .features .announcements h2 {
  font-size: 20px;
}
#landing-page .features .announcements h3 {
  font-size: 18px;
}
#landing-page .features .announcements h4 {
  font-size: 16px;
}
#landing-page .features .announcements img {
  display: block;
  max-width: 100%;
  height: auto;
}
#landing-page .features .announcements li {
  margin-left: -20px;
}
#landing-page .eod-description {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #landing-page .eod-description {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  #landing-page .eod-description {
    margin-left: 8.33333333%;
  }
}
#landing-page .eod-description .eod-donors {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #landing-page .eod-description .eod-donors {
    float: left;
    width: 50%;
  }
}
#landing-page .eod-description .chemluminary {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  display: none !important;
}
@media (min-width: 992px) {
  #landing-page .eod-description .chemluminary {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #landing-page .eod-description .chemluminary {
    display: block !important;
  }
  table#landing-page .eod-description .chemluminary {
    display: table !important;
  }
  tr#landing-page .eod-description .chemluminary {
    display: table-row !important;
  }
  th#landing-page .eod-description .chemluminary,
  td#landing-page .eod-description .chemluminary {
    display: table-cell !important;
  }
}
#landing-page .eod-photo {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #landing-page .eod-photo {
    float: left;
    width: 25%;
  }
}
@media (min-width: 992px) {
  #landing-page .eod-photo {
    margin-left: 8.33333333%;
  }
}
#landing-page .eod-photo img {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  #landing-page .newsblock {
    margin-left: 100px;
    margin-right: 100px;
  }
}
#landing-page .current-newsletter {
  margin-left: -15px;
  margin-right: -15px;
}
#landing-page .current-newsletter .summary {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #landing-page .current-newsletter .summary {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  #landing-page .current-newsletter .summary {
    margin-left: 8.33333333%;
  }
}
#landing-page .current-newsletter .chair-photo {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
@media (min-width: 992px) {
  #landing-page .current-newsletter .chair-photo {
    float: left;
    width: 16.66666667%;
  }
}
#landing-page .current-newsletter .chair-photo img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Event list styles */
.event-list li {
  font-style: italic;
}
.event-list li.future-event {
  font-style: normal;
  font-weight: bold;
}
/* Event page style */
.event-date {
  font-style: italic;
}
.event-details {
  margin-bottom: 15px;
}
/* Logos for sponsors of chem & culture: food event */
.no-border img {
  border-width: 0px !important;
}
.food-sponsors {
  margin-left: -15px;
  margin-right: -15px;
}
.food-sponsors .sponsor-big {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.food-sponsors .sponsor-small {
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .food-sponsors .sponsor-small {
    margin-left: 33.33333333%;
  }
}
.food-sponsors-secondary {
  margin-left: -15px;
  margin-right: -15px;
}
.food-sponsors-secondary > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .food-sponsors-secondary > div {
    float: left;
    width: 16.66666667%;
  }
}
.food-sponsors-secondary img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Chemical strutures */
.chemical-structure {
  margin-left: -15px;
  margin-right: -15px;
}
.chemical-structure img {
  border-style: none !important;
}
/* Main index page news feed */
.feed h3 {
  font-variant: small-caps;
}
.feed > tbody > tr {
  border-style: solid none;
  border-color: grey;
  border-width: 1px;
}
/* Outdent the first line with respect to the rest */
.outdent {
  text-indent: -30px;
  margin-left: 30px;
}
/* Shows logos of donors on main page */
.eod-donors {
  position: relative;
  display: inline-block;
}
@media (min-width: 1200px) {
  .eod-donors {
    margin-top: 45px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  .eod-donors {
    margin-top: 25px;
    margin-bottom: 100px;
  }
}
.eod-donors img {
  position: absolute;
  display: none;
  margin-left: 25px;
  top: 0;
  left: 0;
  z-index: 8;
}
.eod-donors img.active {
  z-index: 10;
}
.eod-donors img.last-active {
  z-index: 9;
}
#dance-photos {
  margin-bottom: 50px;
}
#more-button {
  position: relative;
  float: right;
  margin-top: 10px;
  /* margin-top: -38px; */
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 7;
}
/* Change headers of main content to be smaller */
.content h1 {
  font-size: x-large;
}
.content h2 {
  font-size: large;
}
/* Make the author of some content stand out */
.author {
  padding-left: 30px;
  font-style: italic;
}
/* Special styling for generic page content */
.page-content img {
  display: block;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
/* List of executive committee officers */
.officers-row {
  margin-left: -15px;
  margin-right: -15px;
}
.officers-row h2,
.officers-row h3 {
  font-size: 100%;
  margin-bottom: 0px;
}
.officers-row h2 {
  /* Office title */
  font-weight: bold;
}
.officers-row h3 {
  /* officer name */
  margin-top: 0px;
  font-style: italic;
}
.officers-row > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .officers-row > div {
    float: left;
    width: 33.33333333%;
  }
}
/* Photo grid */
.photo-row {
  margin-left: -15px;
  margin-right: -15px;
}
.photo-row > div {
  margin-top: 15px;
  margin-bottom: 15px;
}
.photo-row img {
  display: block;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
/* Secondary sidebar navigation */
.sidebar-nav {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .sidebar-nav {
    float: left;
    width: 25%;
  }
}
.sidebar-nav h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}
.sidebar-nav h2 {
  font-size: 18px;
}
.sidebar-nav ul {
  padding-left: 20px;
}
.sidebar-nav li.active {
  font-weight: bold;
}
/* Executive committee minutes */
.minutes h1 {
  font-size: 20px;
}
.minutes .minutes-metadata {
  margin-left: -15px;
  margin-right: -15px;
}
.minutes .minutes-metadata > dl {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .minutes .minutes-metadata > dl {
    float: left;
    width: 50%;
  }
}
.minutes .minutes-metadata > dl dd {
  margin-left: 15px;
}
.minutes .minutes-metadata > dl ul {
  list-style-position: inside;
  padding: 0px;
}
/* EC Minutes lists */
.minutes-row {
  margin-left: -15px;
  margin-right: -15px;
  margin: 10px;
}
.minutes-row > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .minutes-row > div {
    float: left;
    width: 33.33333333%;
  }
}
/* Annual reports list */
.reports-row {
  margin-left: -15px;
  margin-right: -15px;
  margin: 10px;
}
.reports-row > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .reports-row > div {
    float: left;
    width: 25%;
  }
}
/* Newsletter */
.newsletter-container,
.about-container {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .newsletter-container,
  .about-container {
    float: left;
    width: 75%;
  }
}
@media (min-width: 992px) {
  .newsletter-container,
  .about-container {
    float: right !important;
  }
}
.thumbnail-images img:not(.img-default) {
  display: block;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-style: solid;
}
.newsletter-content {
  /* Background heading colors by year (Pantone color of the year) */
}
.newsletter-content p {
  text-align: justify;
}
.newsletter-content p.caption {
  text-align: left;
  font-size: 90%;
}
.newsletter-content img:not(.img-default) {
  display: block;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-style: solid;
}
.newsletter-content h1 {
  font-size: 30px;
  padding: 5px;
}
.newsletter-content h2 {
  font-size: 24px;
}
.newsletter-content h3 {
  font-size: 18px;
}
.newsletter-content[year="2013"] h1 {
  background: rgba(0, 152, 116, 0.2);
  /* default: grey */
  border-color: #009874;
  /* grey */
  border-image: linear-gradient(#009874, rgba(0, 152, 116, 0.2));
  border-style: solid;
  border-width: 6px 0px 0px 0px;
  /* emerald green */
}
.newsletter-content[year="2014"] h1 {
  background: rgba(177, 99, 163, 0.25);
  /* default: grey */
  border-color: #b163a3;
  /* grey */
  border-image: linear-gradient(#b163a3, rgba(177, 99, 163, 0.25));
  border-style: solid;
  border-width: 6px 0px 0px 0px;
  /* Radiant Orchid */
}
.newsletter-content[year="2015"] h1 {
  background: rgba(150, 79, 76, 0.2);
  /* default: grey */
  border-color: #964f4c;
  /* grey */
  border-image: linear-gradient(#964f4c, rgba(150, 79, 76, 0.2));
  border-style: solid;
  border-width: 6px 0px 0px 0px;
  /* Marsala */
}
.newsletter-content[year="2016"] h1 {
  /* Rose Quartz and Serenity */
  background-image: linear-gradient(rgba(255, 182, 190, 0.3), rgba(142, 166, 208, 0.3));
}
.newsletter-content[year="2017"] h1 {
  background: rgba(135, 175, 73, 0.2);
  /* default: grey */
  border-color: #87af49;
  /* grey */
  border-image: linear-gradient(#87af49, rgba(135, 175, 73, 0.2));
  border-style: solid;
  border-width: 6px 0px 0px 0px;
  /* Greenery */
}
.newsletter-content[year="2018"] h1 {
  background: rgba(96, 76, 141, 0.2);
  /* default: grey */
  border-color: #604c8d;
  /* grey */
  border-image: linear-gradient(#604c8d, rgba(96, 76, 141, 0.2));
  border-style: solid;
  border-width: 6px 0px 0px 0px;
  /* Ultra violet */
}
.chair-comments {
  margin-left: -15px;
  margin-right: -15px;
}
.chair-comments .comments-content {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .chair-comments .comments-content {
    float: left;
    width: 66.66666667%;
  }
}
.chair-comments .comments-photo {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .chair-comments .comments-photo {
    float: left;
    width: 33.33333333%;
  }
}
.report dd {
  margin-left: 15px;
}
.report .options {
  margin-left: -15px;
  margin-right: -15px;
}
.report .options > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .report .options > div {
    float: left;
    width: 50%;
  }
}
.report .options ul {
  list-style-type: none;
}
.rainbow {
  font-weight: bold;
  /* Color gradient (webkit only) */
  background: -webkit-linear-gradient(#ff0000, #00ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#white-lecture-donors {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #white-lecture-donors {
    float: left;
    width: 33.33333333%;
  }
}
#white-lecture-donors ul {
  list-style-type: none;
}
#white-lecture-donors li {
  margin-bottom: 15px;
}
#white-lecture-donors img {
  width: 181px;
}
#earth-day-table {
  margin-left: 100px;
  margin-bottom: 10px;
}
#earth-day-table td {
  padding: 0px 5px;
}
.student-chapters {
  margin-left: -15px;
  margin-right: -15px;
}
.student-chapters h2 {
  font-size: 20px;
}
.student-chapters > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .student-chapters > div {
    float: left;
    width: 50%;
  }
}
