ul {
  list-style-type: circle;
}
.facebook-logo {
  padding: 8px !important;
}
.facebook-logo img {
  height: 34px;
}
.facebook-logo-tablet img {
  height: 20px;
}
.header {
  color: #004b9a;
}
.header p {
  font-size: small;
}
.footer {
  margin-top: 20px;
}
hr {
  border-top-color: #7d7d7d;
}
.logo,
.logo:hover {
  text-decoration: none;
  color: white;
}
.newsblock,
.mission {
  text-align: justify;
}
.newsblock img {
  float: right;
  margin: 12px;
}
#events address {
  margin-left: 35px;
}
/* Event page style */
.event-date {
  font-style: italic;
}
.event-details {
  margin-bottom: 15px;
}
/* Main index page news feed */
.feed h3 {
  font-variant: small-caps;
}
.feed > tbody > tr {
  border-style: solid none;
  border-color: grey;
  border-width: 1px;
}
/* Outdent the first line with respect to the rest */
.outdent {
  text-indent: -30px;
  margin-left: 30px;
}
/* Shows logos of donors on main page */
.slideshow {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
}
.slideshow img {
  position: absolute;
  display: none;
  margin-left: 25px;
  top: 0;
  left: 0;
  z-index: 8;
}
.slideshow img.active {
  z-index: 10;
}
.slideshow img.last-active {
  z-index: 9;
}
.sidebox h2 {
  font-size: 20px;
}
.sidebox li {
  margin-left: -20px;
}
#chemluminary-logo {
  margin-top: -70px;
}
#dance-photos {
  margin-bottom: 50px;
}
#more-button {
  position: relative;
  float: right;
  margin-top: 10px;
  /* margin-top: -38px; */

  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 7;
}
/* Change headers of main content to be smaller */
.content h1 {
  font-size: x-large;
}
.content h2 {
  font-size: large;
}
/* Grids get some extra space after each row */
.row.grid {
  margin: 10px;
}
/* Main page picture carousel */
#main-carousel .carousel-caption {
  background: rgba(100, 100, 100, 0.75);
  border-radius: 25px;
}
/* Elements of dance photos grid */
.eod-grid .col-md-4 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.eod-grid td {
  padding: 5px;
}
/* Secondary sidebar navigation */
.sidebar-nav h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}
.sidebar-nav h2 {
  font-size: 18px;
}
.sidebar-nav ul {
  padding-left: 20px;
}
.sidebar-nav li.active {
  font-weight: bold;
}
/* Executive committee minutes */
.minutes h1 {
  font-size: 20px;
}
/* Newsletter */
.newsletter-content {
  /* Background heading colors by year */

}
.newsletter-content p {
  text-align: justify;
}
.newsletter-content p.caption {
  text-align: left;
}
.newsletter-content img {
  border-style: solid;
}
.newsletter-content h1 {
  font-size: 30px;
  padding: 5px;
  background: #e6e6e6;
  /* grey */

}
.newsletter-content h2 {
  font-size: 24px;
}
.newsletter-content h3 {
  font-size: 18px;
}
.newsletter-content .author {
  padding-left: 30px;
  font-style: italic;
}
.newsletter-content[year="2013"] h1 {
  background: rgba(0, 152, 116, 0.2);
  /* emerald green */

}
.newsletter-content[year="2014"] h1 {
  /* background: rgba(12, 70, 207, 0.2); /\* dazzling blue *\/ */

  background: rgba(177, 99, 163, 0.4) /* Radiant Orchid */
;
}
.student-chapters h2 {
  font-size: 20px;
}
