---
---
# Use PHP5.4 Single php.ini as default
# AddHandler application/x-httpd-php54s .php

# Error handling
ErrorDocument 404 /404.html

RewriteEngine on
RewriteBase {{ site.path }}/

# Redirect old elements of dance index to event post
RewriteRule elements-of-dance/(?:index.html)?$ event/2012/11/09/elements-of-dance.html [R=301]

# Redirect newsletters from old directory
RewriteRule kalchemnews/newsletter-2013-09-06\.pdf$ newsletters/kacs-newsletter-2013-09-06.pdf [R=301]
RewriteRule kalchemnews/2012/KACS_Newsletter_2012_1\.pdf$ newsletters/kacs-newsletter-2012-02-02.pdf [R=301]
RewriteRule kalchemnews/2012/KACS_Newsletter_2012_2\.pdf$ newsletters/kacs-newsletter-2012-03-29.pdf [R=301]
RewriteRule kalchemnews/2012/KACS_Newsletter_2012_3\.pdf$ newsletters/kacs-newsletter-2012-04-30.pdf [R=301]
RewriteRule kalchemnews/2012/KACS_Newsletter_2012_4\.pdf$ newsletters/kacs-newsletter-2012-06-19.pdf [R=301]
RewriteRule kalchemnews/2012/KACS_Newsletter_2012_5\.pdf$ newsletters/kacs-newsletter-2012-09-25.pdf [R=301]
RewriteRule kalchemnews/2012/KACS_Newsletter_2012_6\.pdf$ newsletters/kacs-newsletter-2012-11-05.pdf [R=301]
RewriteRule kalchemnews/2012/KACS_Newsletter_2012_7\.pdf$ newsletters/kacs-newsletter-2012-12-21.pdf [R=301]
RewriteRule kalchemnews/2013/KACS_Newsletter_2012_1\.pdf$ newsletters/kacs-newsletter-2013-01-25.pdf [R=301]
RewriteRule kalchemnews/2013/KACS_Newsletter_2012_2\.pdf$ newsletters/kacs-newsletter-2013-04-19.pdf [R=301]
RewriteRule kalchemnews/2013/KACS_Newsletter_2012_5\.pdf$ newsletters/kacs-newsletter-2013-05-17.pdf [R=301]
RewriteRule kalchemnews/2013/KACS_Newsletter_2012_7\.pdf$ newsletters/kacs-newsletter-2013-07-11.pdf [R=301]
RewriteRule kalchemnews(/.*)?$ newsletters$1 [PT]

# Redirect About Us pages
RewriteRule executive-committee/message-from-the-chair/.* about/
# This rules for minutes breaks apache with infinite redirects
# RewriteRule /minutes/ executive-committee/minutes/

# Headers and caching
Header unset ETag
FileETag None
<FilesMatch "(?i)^.*\.(ico|flv|jpg|jpeg|png|gif|js|css)$">
Header unset Last-Modified
Header set Expires "Fri, 21 Dec 2013 00:00:00 GMT"
Header set Cache-Control "public, no-transform"
</FilesMatch>

# GZip compression
<ifModule mod_deflate.c>
<FilesMatch "\.(js|css)$">
SetOutputFilter DEFLATE
</FilesMatch>
</ifModule>