<h2>Why Chemistry and Culture?</h2>
<p>
  Chemists are not just experts in their field but are also interested
  in art, history, cooking, baking, brewing, gardening and exercise,
  among others. <strong>“Elements of Dance”</strong> invites all
  chemists, chemistry enthusiasts and the general public to enjoy
  ballroom dancing. Future “Chemistry and Culture” themes will address
  topics like “Art Conservation”, “Forgery”, “Cooking” and “Gardening”,
  for example.
</p>

<p>
  The goals of the "Chemistry and Culture" series are...
<p>

  <ul>
    <li>
      To offer a social networking opportunity for members of the
      Kalamazoo Local Section of the American Chemical Society (KACS)
      and the public
    </li>
    <li>
      To educate the general public about the goals and activities of KACS
    </li>
    <li>To highlight the connections between "chemistry" and "culture"</li>
    <li>To encourage student participation</li>
    <li>
      To instill an appreciation for how chemistry contributes to the
      world in many ways
    </li>
    <li>To forge ties with the local community</li>
  </ul>

<h2>Chemists who have looked beyond their field</h2>
<dl>
  <dt>Alfred Bader (Austrian-born Canadian chemist)</dt>
  <dd>
    Founded the Aldrich Chemical Company, which later became
    Sigma-Aldrich Corporation as one of the world’s leading supplier
    of research chemicals. He founded the company’s journal
    Aldrichimica Acta in 1968.  He is a philanthropist and a life-long
    fine arts collector. His artwork is displayed on the front cover
    of the company’s chemical catalogs and its journal. He authored
    two autobiographies titled Adventures of a Chemist Collector and
    Chemistry & Art.
  </dd>
  <dt>Robert G. Bergman (University of California - Berkeley)</dt>
  <dd>
    Made seminal contributions in inorganic and
    organometallic chemistry. He enjoys ballroom dancing in his free
    time.
  </dd>
  <dt>
    Carl Djerassi (Emeritus Austrian-American Chemist at Stanford University)
  </dt>
  <dd>
    Co-inventor of the hormonal birth control pill and has published
    several “science-in-fiction” novels. Together with Roald Hoffmann
    he authored the play “Oxygen” in 1999.
  </dd>
  <dt>Roald Hoffmann (Polish-American Chemist at Cornell University)</dt>
  <dd>
    1981 Nobel Laureate in Chemistry and a co-host of
    the TV series The World of Chemistry. He writes poetry and presents
    the monthly series Entertaining Science at a New York City café,
    which explores the connections between science and the arts.
  </dd>
</dl>
