<tr>
  <td valign="bottom" bgcolor="#F0F0F0">&nbsp;</td>
  <td>
    <div align="left">
    </div>
  </td>
</tr>
<tr>
  <td valign="top" bgcolor="#FFCC33" width="251">
    <p></p>
    <div align="left">
      <p><i><font size="-2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><a href="mailto:steven.bertman@wmich.edu">E-mail our Webmaster</a><br>
	    F</font></i><font size="-2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">acilities for this site provided by<br>
          <a href="http://www.wmich.edu"><img src="{{ site.url }}/images/W.png" width="33" height="28">Western Michigan University</a></font></p>
      <p></p>
  </div></td>
  <td valign="bottom" bgcolor="#F0F0F0">
    <table width="95%" border="0" cellpadding="0" cellspacing="2">
      <tr>
	<td width="276" valign="bottom"><a href="http://www.easycounter.com/"><img src="http://www.easycounter.com/counter.php?kacs"border="0" alt="stats counter"></a> <font size="-1">Total visits since 10/8/2010</font><br>
	  <a href="http://www.easycounter.com/"><font size="-2">Free Web Counters</font></a></td>
	<td width="174" align="right"><a href="https://www.facebook.com/ACSKalamazoo"><img src="{{ site.url }}/images/fbbadge.png" width="115" height="35" alt="facebook"></a></td>
      </tr>
    </table>
  </td>
  <td></td>

</tr>
</table>
</body>

</html>
