<div class="header">

  <!-- Local section Logo -->
  <div class="section-logo">
    <a href="{{ site.baseurl }}/"
       title="Return to KACS Homepage">
      <img alt="Kalamazoo Section of the American Chemical Society"
	   src="{{ site.baseurl }}/images/logos/kacs-logo-blue.png" />
    </a>
  </div>

  <div class="info">
    <div class="title">
      <div>
	<h3>
	  Kalamazoo Section of the American Chemical Society
	</h3>
      </div>
    </div>
    <div class="mission">
      <div>
	<p>
	  We are a dynamic and visionary organization committed to
	  improving people&rsquo;s lives in our community through the
	  transforming power of chemistry.&nbsp; We strive to advance
	  the broader chemistry enterprise and its practitioners for the
	  benefit of Kalamazoo, Allegan and Van Buren counties.
	</p>
      </div>
    </div>
  </div>

  <!-- National Association Logo -->
  <div class="acs-logo">
    <a href="http://www.acs.org/"
       title="Visit the national society homepage">
      <img alt="American Chemical Society"
	   src="{{ site.baseurl }}/images/logos/acs.png" />
    </a>
  </div>

</div>
