<div class="row header">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-8">
	<font color="#6699cc" size="7" face="Trebuchet MS, Geneva, Arial, Helvetica, SunSans-Regular, sans-serif" class="titletext">
	  <a href="" class="logo-text">KACS</a>
	</font>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
	<font size="4" color="#6699cc" face="Trebuchet MS, Geneva, Arial, Helvetica, SunSans-Regular, sans-serif">
	  Kalamazoo Section of the American Chemical Society
	</font>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <a href="">
      <img class="img-responsive" src="images/ACSlogo_August_2011.jpg" />
    </a>
  </div>
</div>
