<!-- Logic for navigation -->
{% assign url_parts = page.url | split: '/' %}
{% assign num_parts = url_parts | size %}

<!-- Navigation Menu -->
<nav class="nav navbar-default" role="navigation">
  <!-- Collapse button and (maybe) logo -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle"
	    data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Actual menu items -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      {% if num_parts == 2 %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
	<a href="{{ site.url }}/">
	  <i class="glyphicon glyphicon-home"></i>
	  Home
	</a>
      </li>
      <!-- Events -->
      {% if url_parts[1] contains 'event' %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
	<a href="{{ site.url }}/events/">Events</a>
      </li>
      <!-- Newsletter -->
      {% assign newsletter = site.categories.newsletter.first %}
      {% if url_parts[1] == 'newsletter' %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
	<a href="{{ site.url }}{{ newsletter.url }}">Newsletters</a>
      </li>
      <li><a href="{{ site.url }}/about/">About Us</a></li>
      <!-- "Student Chapters" menu -->
      <li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  Student Chapters <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
	  <li>
	    <a href="http://wmich.collegiatelink.net/organization/chemistry-graduate-student-association-at-wmu">
	      WMU Chem. Grad. Student Assoc.
	    </a>
	  </li>
	  <li>
	    <a href="http://www.facebook.com/group.php?gid=476178335071">
	      WMU Chem. Club
	    </a>
	  </li>
	  <li>
	    <a href="http://www.facebook.com/groups/343451499029909/">
	      Kalamazoo College Chem. Club
	    </a>
	  </li>
	  <li>
	    <a href="#">
	      NOBCChE
	    </a>
	  </li>
	</ul>
      </li>
      <li><a href="{{ site.url }}/contact/">Contact Us</a></li>
      <!-- Small screen facebook icon -->
      <li class="visible-xs">
	<a href="https://www.facebook.com/ACSKalamazoo" class="facebook-logo-tablet">
	  <img src="{{ site.url }}/images/facebook.png" />
	  Facebook
	</a>
      </li>
    </ul>
    <!-- Larger screen facebook icon -->
    <ul class="nav navbar-nav pull-right hidden-xs">
      <li>
	<a href="https://www.facebook.com/ACSKalamazoo" class="facebook-logo">
	  <img src="{{ site.url }}/images/facebook.png" />
	</a>
      </li>
    </ul>
  </div>
</nav>
