<div class="col-{{ site.device }}-2 menu-old">
  <a href="{{ site.baseurl }}">
    <span class="glyphicon glyphicon-home"></span>
    <strong>
	Home
    </strong>
  </a>

  <h1>News</h1>
  <ul>
    <li>
      <a href="{{ site.baseurl }}/newsletters/">
	Newsletter
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/events/">
	Events
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/jobs/">
	Job opportunities
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/history/index.html">
	KACS History
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/history/memorial/">
	Memorials
      </a>
    </li>
  </ul>

  <h1>About Us</h1>
  <ul>
    <li>
      <a href="{{ site.baseurl }}/executive-committee/message-from-the-chair/">
	Message from the Chair
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/executive-committee/officers/">
	Executive Committee
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/executive-committee/elections">
	Officer Elections
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/minutes/">
	EC Meeting Minutes
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/executive-committee/bylaws/">
	Bylaws
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/executive-committee/operations-manual/">
	Operations Manual
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/reports/annual/">
	Annual Reports
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/reports/councilor/">
	Councilor Reports
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/volunteer/">
	Volunteer Opportunities
      </a>
    </li>
  </ul>

  <h1>Student Chapter Activities</h1>
  <ul>
    <li>
      <a href="http://wmich.collegiatelink.net/organization/chemistry-graduate-student-association-at-wmu">
	WMU Chem. Grad. Student Assoc.
      </a>
    </li>
    <li>
      <a href="http://www.facebook.com/group.php?gid=476178335071">
	WMU Chem. Club
      </a>
    </li>
    <li>
      <a href="http://www.facebook.com/groups/343451499029909/">
	Kalamazoo College Chem. Club
      </a>
    </li>
    <li>
  </ul>

  <h1>Other Links</h1>
  <ul>
    <li>
      <a href="http://www.presentations.acs.org/">
	ACS Presentations on Demand
      </a>
    </li>
    <li>
      <a href="http://www.softconference.com/ACSchem/">
	Content from recent ACS Meetings
      </a>
    </li>
    <li>
      <a href="http://dgr.rints.com/">
	Directory of Graduate Research
      </a>
    </li>
    <li>
      <a href="http://portal.acs.org:80/portal/PublicWebSite/careers/index.htm">
	Career Services
      </a>
    </li>
    <li>
      <a href="http://portal.acs.org/portal/PublicWebSite/pressroom/index.htm">
	Articles from ACS National
      </a>
    </li>
    <li>
      <a href="http://vimeo.com/21063971">
	The ACS Staff: How Does it Support Governance?
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/kzoo-links/">
	Kalamazoo Links
      </a>
    </li>
    <li>
      <a href="http://www.cas.org/">
	Chemical Abstracts Service
      </a>
    </li>
    <li>
      <a href="http://www.chem.ucla.edu/chem_news.html">
	Chemistry News Groups
      </a>
    </li>
    <li>
      <a href="http://e-skolar.com/docs/educational-chemistry-resources.php">
	Chemistry Educational Resources
      </a>
    </li>
    <li>
      <a href="http://safety.dow.com/">
	Go to the ACSWeb Safety Advice by Dow
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/ACSKalamazoo">
	<img src="{{ site.baseurl }}/images/fbbadge.png"
	     title="KACS Facebook page" alt="facebook" />
      </a>
    </li>
  </ul>

</div>
