      <tr height="0">
	<td width="251" rowspan="2" valign="top" bgcolor="#FFCC33">
          <dl>
	    <dt>
	      <font size="2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">
		<strong><br />
		  News
		</strong>
	      </font>
            <dt>
	      <a href="{{ site.url }}/newsletters/">
		<font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">
		  Newsletter
		</font>
	      </a>
	    </dt>
       	    <dt>
	      <font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">
		<a href="{{ site.url }}/events/">
		   Past Events
		</a>
	      </font>
	    </dt>
            <dt>
	      <a href="{{ site.url }}/Jobs/Jobs.html"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Job opportunities</font></a>
	    </dt>
	    <dt>
	      <font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">
		<a href="{{ site.url }}/History/history.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">KACS History</font>
		</a>
	      </font>
	    </dt>
            <dt><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><a href="{{ site.url }}/History/memorial.html">Memorials</a></font><a href="History/memorial.html"></a>
	    </dt>
	  </dl>
	  <dl>
	    <dt><font size="2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><strong>About Us<br>
	      </strong></font>
	    </dt>
	    <dt><font size="2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><a href="{{ site.url }}/Executive Committee/chairmessage.html">Message from the Chair</a></font></dt>
            <dt><font size="2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><a href="{{ site.url }}/Executive Committee/KACSoffice.html">Executive Committee</a></font></dt>
	    <dt><a href="{{ site.url }}/Executive Committee/ECminutes.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">EC Meeting Minutes</font></a></dt>
            <dt><a href="{{ site.url }}/Executive Committee/KACS_bylaws_120709.pdf"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Bylaws</font></a></dt>
            <dt><a href="{{ site.url }}/Executive Committee/Operations Manual/KACS Operations Manual 03-14-12.pdf"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Operations Manual</font></a></dt>
            <dt><a href="{{ site.url }}/Executive Committee/AnnualReports.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Annual Reports</font></a></dt>
            <dt><a href="{{ site.url }}/Reports/councilor.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Councilor Reports</font></a></dt>
            <dt><a href="{{ site.url }}/Executive Committee/2013/Volunteer Opportunities Jan 2013.pdf"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Volunteer Opportunities</font></a></dt>
            <dt><a href="History/kacs1981.pdf"></a></dt>
	  </dl>

          <dl>
	    <dt>
	      <b>
		<font size="2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">
		  Student Chapter Activities
		</font>
	      </b>
	    </dt>
	    <dt><a href="http://wmich.collegiatelink.net/organization/chemistry-graduate-student-association-at-wmu"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">WMU Chem. Grad. Student Assoc.</font></a></dt>
            <dt><a href="http://www.facebook.com/group.php?gid=476178335071"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">WMU Chem. Club</font></a></dt>
            <dt><a href="http://www.facebook.com/groups/343451499029909/"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Kalamazoo College Chem. Club</font></a></dt>
          </dl>
          <dl>
	    <dt><b><font size="2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Other Links</font></b></dt>
	    <dt><a href="http://www.presentations.acs.org/"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">ACS Presentations on Demand</font></a></dt>
            <dt><a href="http://www.softconference.com/ACSchem/"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Content from recent ACS Meetings</font></a></dt>
	    <dt><a href="http://dgr.rints.com/"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Directory of Graduate Research</font></a></dt>
            <dt><a href="http://portal.acs.org:80/portal/PublicWebSite/careers/index.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Career Services</font></a></dt>
            <dt><a href="http://portal.acs.org/portal/PublicWebSite/pressroom/index.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Articles from ACS National</font></a></dt>
            <dt><a href="http://vimeo.com/21063971"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">The ACS Staff: How Does it Support Governance?</font></a></dt>
            <dt><a href="{{ site.url }}/Activities/Kzoo_Links.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Kalamazoo Links</font></a></dt>
            <dt><a href="http://www.cas.org/"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Chemical Abstracts Service</font></a></dt>
            <dt><a href="http://www.chem.ucla.edu/chem_news.html"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Chemistry News Groups</font></a></dt>
            <dt><a href="http://e-skolar.com/docs/educational-chemistry-resources.php"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Chemistry Educational Resources</font></a></dt>
            <dt><a href="http://safety.dow.com/"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Go to the ACSWeb<br>
		  Safety Advice by Dow</font></a><br>
            </dt>
	  </dl>
	</td>
