<!-- Navigation Menu -->
<nav class="nav navbar-default" role="navigation">
  <!-- Collapse button and (maybe) logo -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle"
	    data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Actual menu items -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li>
	<a href="{{ site.url }}">
	  <i class="glyphicon glyphicon-home"></i>
	  News
	</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#">Events</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#">Newsletters</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#">Student Chapters</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>


<!--       News -->

<!--   <ul> -->
<!--     <li> -->
<!--       <a href="kalchem.htm"> -->
<!-- 	<font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"> -->
<!-- 	  Newsletter -->
<!-- 	</font> -->
<!--       </a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"> -->
<!-- 	<a href="Activities/pastevents.htm"> -->
<!-- 	  Past Events -->
<!-- 	</a> -->
<!--       </font> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="Jobs/Jobs.html"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Job opportunities</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"> -->
<!-- 	<a href="History/history.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">KACS History</font> -->
<!-- 	</a> -->
<!--       </font> -->
<!--       <font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><a href="History/memorial.html">Memorials</a></font><a href="History/memorial.html"></a> -->
<!--     </li> -->
<!--   </ul> -->

<!--   <font size="2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><strong>About Us<br> -->
<!--   </strong></font> -->
<!--   <ul> -->
<!--     <li> -->
<!--       <font size="2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><a href="Executive Committee/chairmessage.php">Message from the Chair</a></font> -->
<!--     </li> -->
<!--     <li> -->
<!--       <font size="2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><a href="Executive Committee/KACSoffice.html">Executive Committee</a></font> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="Executive Committee/ECminutes.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">EC Meeting Minutes</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="Executive Committee/KACS_bylaws_120709.pdf"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Bylaws</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="Executive Committee/Operations Manual/KACS Operations Manual 03-14-12.pdf"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Operations Manual</font></a><a href="Executive Committee/KACS Operations Manual 02-05-11.pdf"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"></font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="Executive Committee/AnnualReports.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Annual Reports</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="Reports/councilor.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Councilor Reports</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="Executive Committee/2013/Volunteer Opportunities Jan 2013.pdf"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Volunteer Opportunities</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="History/kacs1981.pdf">History</a> -->
<!--     </li> -->
<!--   </ul> -->

<!--   <b> -->
<!--     <font size="2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"> -->
<!--       Student Chapter Activities -->
<!--     </font> -->
<!--   </b> -->
<!--   <ul> -->
<!--     <li> -->
<!--       <a href="http://wmich.collegiatelink.net/organization/chemistry-graduate-student-association-at-wmu"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">WMU Chem. Grad. Student Assoc.</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="http://www.facebook.com/group.php?gid=476178335071"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">WMU Chem. Club</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="http://www.facebook.com/groups/343451499029909/"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Kalamazoo College Chem. Club</font></a> -->
<!--     </li> -->
<!--   </ul> -->

<!--   <b><font size="2" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Other Links</font></b> -->
<!--   <ul> -->
<!--     <li> -->
<!--       <a href="http://www.presentations.acs.org/"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">ACS Presentations on Demand</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="http://www.softconference.com/ACSchem/"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Content from recent ACS Meetings</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="http://dgr.rints.com/"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Directory of Graduate Research</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="http://portal.acs.org:80/portal/PublicWebSite/careers/index.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Career Services</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="http://portal.acs.org/portal/PublicWebSite/pressroom/index.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Articles from ACS National</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="http://vimeo.com/21063971"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">The ACS Staff: How Does it Support Governance?</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="Activities/Kzoo_Links.htm"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Kalamazoo Links</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="http://www.cas.org/"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Chemical Abstracts Service</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="http://www.chem.ucla.edu/chem_news.html"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Chemistry News Groups</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="http://e-skolar.com/docs/educational-chemistry-resources.php"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Chemistry Educational Resources</font></a> -->
<!--     </li> -->
<!--     <li> -->
<!--       <a href="http://safety.dow.com/"><font size="-1" face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Go to the ACSWeb -->
<!-- 	  Safety Advice by Dow</font></a> -->
<!--     </li> -->
<!--   </ul> -->
<!-- </div> -->
