<div class="sidebar-nav">
  <h1>About Us</h1>
  <ul>
    {% if page.url == '/about/message-from-the-chair.html' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ site.baseurl }}/about/message-from-the-chair.html">Message from the Chair</a>
    </li>

    {% if page.url == '/about/volunteer.html' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ site.baseurl }}/about/volunteer.html">Volunteer Opportunities</a>
    </li>

    {% if page.url == '/about/officers.html' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ site.baseurl }}/about/officers.html">
	Executive Committee Officers
      </a>
    </li>

    {% if page.url == '/about/elections.html' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ site.baseurl }}/about/elections.html">
	Officer Elections
      </a>
    </li>

    {% if page.url contains '/minutes'  %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ site.baseurl }}/about/minutes.html">
	Committee Meeting Minutes
      </a>
    </li>

    {% if page.url == '/about/annual-reports.html' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ site.baseurl }}/about/annual-reports.html">
	Annual Reports
      </a>
    </li>

    {% if page.url contains 'councilor-report' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ site.baseurl }}/about/councilor-reports.html">
	Councilor Reports
      </a>
    </li>

    {% if page.url == '/about/operations-manual.html' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ site.baseurl }}/about/operations-manual.html">
	Operations Manual
      </a>
    </li>

    {% if page.url == '/about/bylaws.html' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ site.baseurl }}/about/bylaws.html">
	Bylaws
      </a>
    </li>
  </ul>

  <h1>History</h1>
  <ul>
    {% if page.url == '/about/past-chairs.html' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ site.baseurl }}/about/past-chairs.html">List of Local Section Chairs</a>
    </li>

    {% if page.url == '/about/regional-meetings.html' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ site.baseurl }}/about/regional-meetings.html">Great Lakes Regional Meetings</a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/about/kacs1981.pdf">
	Historical Narrative [PDF]
      </a>
    </li>

    {% if page.url contains '/about/memorials' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ site.baseurl }}/about/memorials.html">Memorials</a>
    </li>
  </ul>
</div><!-- </div class="sidebar-nav"> -->
