<div class="col-{{ site.device }}-3 sidebar-nav">
  <h1>About Us</h1>
  <ul>
    <li>
      <a href="{{ site.url }}/about/">Message from the Chair</a>
    </li>
    <li>
      <a href="{{ site.url }}/volunteer/">Volunteer Opportunities</a>
    </li>
    <li>
      <a href="{{ site.url }}/executive-committee/officers/">
	Executive Committee Officers
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/executive-committee/elections/">
	Officer Elections
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/executive-committee/minutes/">
	Committee Meeting Minutes
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/reports/annual/">
	Annual Reports
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/reports/councilor">
	Councilor Reports
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/executive-committee/operations-manual/">
	Operations Manual
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/executive-committee/bylaws/">
	Bylaws
      </a>
    </li>
  </ul>

  <h1>History</h1>
  <ul>
    <li>
      <a href="{{ site.url }}/history/past-chairs/">List of Local Section Chiars</a>
    </li>
    <li>
      <a href="{{ site.url }}/history/regional-meetings/">Great Lakes Regional Meetings</a>
    </li>
    <li>
      <a href="{{ site.url }}/history/kacs1981.pdf">
	Historical Narrative [PDF]
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/history/memorial/">Memorials</a>
    </li>
  </ul>
</div><!-- </div class="sidebar-nav"> -->
