---
title: Newsletters
layout: page
---

<h1>KACS Newsletters</h1>

<h2>Current Newsletter</h2>
{% assign current = site.categories.newsletter.first %}
<ul>
  <li>
    {% if current.format == 'pdf' %}
    <a href="{{ site.baseurl }}/newsletters/{{ current.date | date: "kacs-newsletter-%Y-%m-%d.pdf" }}">
      {{ current.date | date: "%B %Y" }} [PDF]
    </a>
    {% else %}
    <a href="{{ current.url }}">
      {{ current.date | date: "%B %Y" }}
    </a>
    {% endif %}
  </li>
</ul>

{% for newsletter in site.categories.newsletter %}
{% capture post_year %}{{ newsletter.date | date: "%Y"}}{% endcapture %}
{% if post_year != curr_year %}
{% if forloop.index != 1 %}
</ul>
{% endif %}
<h2>{{ post_year }}</h2>
<ul>
  {% capture curr_year %}{{ post_year }}{% endcapture %}
  {% endif %}
  <li>
    {% if newsletter.format == 'pdf' %}
    <a href="{{ site.baseurl }}/newsletters/{{ newsletter.date | date: "kacs-newsletter-%Y-%m-%d.pdf" }}">
      {{ newsletter.date | date: "%B %Y" }} [PDF]
    </a>
    {% else %}
    <a href="{{ newsletter.url }}">
      {{ newsletter.date | date: "%B %Y" }}
    </a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
