---
title: Minutes of Executive Committee Meetings
layout: about_page
---

<h2>Minutes  of KACS Executive Committee Meetings</h2>
{% for meeting in site.categories.minutes %}
{% capture post_year %}{{ meeting.date | date: "%Y"}}{% endcapture %}
{% if post_year != curr_year %}
{% capture column %}{% cycle 'one', 'two', 'three' %}{% endcapture %}
{% if forloop.index != 1 %}
</ul>
</div>
{% if column == 'one' %}
</div>
{% endif %}
{% endif %}
{% if column == 'one' %}
<div class="row grid">
  {% endif %}
  <div class="col-{{ site.device }}-4">
    <h4>{{ post_year }}</h4>
    <ul>
      {% capture curr_year %}{{ post_year }}{% endcapture %}
      {% endif %}
      <li>
	{% if meeting.format == 'pdf' %}
	<a href="{{ site.url }}/minutes/{{ meeting.date | date: "%Y-%m-%d-minutes.pdf" }}">
	  {{ meeting.date | date: "%B %Y" }} [PDF]
	</a>
	{% else %}
	<a href="{{ meeting.url }}">
	  {{ meeting.date | date: "%B %Y" }}
	</a>
	{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
