<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="container">
  {% include header.html %}

  {% include menu.html %}

  <div class="row">

    <div class="col-{{ site.device }}-12">
      <h1>{{ page.heading }}</h1>
      <h4 class="event-date">{{ page.date | date: "%A %d %B %Y" }}</h4>
      {% if page.author.size == 1 %}
      <h4>By <em>{{ page.author }}</em></h4>
      {% elsif page.author.size > 1 %}
      <h4>By
	{% for author in page.author %}{% if forloop.first %}<em>{{author}}</em>{% elsif forloop.last %} and <em>{{ author }}</em>{% else %}, <em>{{ author }}</em>{% endif %}{% endfor %}.
      </h4>
      {% endif %}

      <!-- Event info -->
      <div class="row event-details">
	{% if page.location %}
	<div class="col-{{ site.device }}-3">
	  <!-- Event Location -->
	  <b>Location</b>
	  <br />
	  {% for line in page.location %}
	  {{ line }}
	  <br />
	  {% endfor %}
	</div>
	{% endif %}

	<!-- Event cost -->
	{% if page.cost %}
	<div class="col-{{ site.device }}-2">
	  <b>Cost</b>
	  <br />
	  {{ page.cost }}
	</div>
	{% endif %}

	{% if page.schedule.size == 1 %}
	<!-- Event start time -->
	<div class="col-{{ site.device }}-7">
	  <p>{{ page.schedule }}</p>
	  {% elsif page.schedule.size > 1 %}
	<div class="col-{{ site.device }}-7">
	  <b>Schedule</b>
	  <br />
	  {% for point in page.schedule %}
	  {{ point }}
	  <br />
	  {% endfor %}
	</div>
	{% endif %}

	<!-- </div class="row"> -->
	</div>

	{{ content }}
      </div>

    </div>

{% include footer.html %}

<!-- </div class="container"> -->
</div>

</body>
</html>
