<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div class="container">
  {% include header.html %}

  {% include menu.html %}

  <div class="row">

    <!-- Sidebar nagivation -->
    {% include sidebar_nav.html %}

    <div class="col-{{ site.device }}-9">
      <h2>Minutes of KACS Executive Committee Meeting</h2>

      <!-- Meeting meta info -->
      <p>{{ page.date | date: "%d %B %Y" }}{% if page.location %} at {{ page.location }}.{% endif %}</p>
      <p>{% if page.time %}Meeting called to order at {{ page.time }}.{% endif %}</p>
      Members present:
      <ul>
	{% for member in page.roll-call %}
	<li>{{ member }}</li>
	{% endfor %}
      </ul>

      <hr />

      <!-- Meeting content -->
      <div class="minutes">
	{{ content }}
      </div>

      <!-- author -->
      {% if page.author %}
      <p>Minutes recorded by {{ page.author }}</p>
      {% endif %}
    </div>
  </div>

{% include footer.html %}

<!-- </div cass="container"> -->
</div>

</body>
</html>
