<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div class="container">
  {% include header.html %}

  {% include menu.html %}

  <div class="row">

    <!-- Sidebar nagivation -->
    {% include sidebar_nav.html %}

    <div class="about-container minutes">
      <h2>Minutes of KACS Executive Committee Meeting</h2>

      <!-- Meeting meta info -->
      <div class="minutes-metadata">
	  <dl>
	    <dt>Date</dt>
	    <dd>{{ page.date | date: "%d %B %Y" }}</dd>
	    <!-- Meeting location -->
	    {% if page.location %}
	    <dt>Location</dt>
	    <dd>{{ page.location }}</dd>
	    {% endif %}
	    <!-- Meeting start time -->
	    {% if page.time %}
	    <dt>Start time</dt>
	    <dd>{{ page.time }}</dd>
	    {% endif %}
	    <!-- Meeting end time -->
	    {% if page.end-time %}
	    <dt>End time</dt>
	    <dd>{{ page.end-time }}</dd>
	    {% endif %}
	    <!-- author -->
	    {% if page.author %}
	    <dt>Minutes recorded by</dt>
	    <dd>{{ page.author }}</dd>
	    {% endif %}
	  </dl>
	  <dl>
	    <dt>Members present</dt>
	    <dd>
	      <ul>
		{% for member in page.roll-call %}
		<li>{{ member }}</li>
		{% endfor %}
	      </ul>
	    </dd>
	  </dl>
      </div><!-- /.minutes-metadata -->

      <hr />

      <!-- Meeting content -->
      <div class="content">
	{{ content }}
      </div>

      <hr />

      <!-- Meeting end time -->

    </div>
  </div>

{% include footer.html %}

<!-- </div cass="container"> -->
</div>

</body>
</html>
