<!DOCTYPE html>

<html>
  {% include head.html %}

<body>

<div class="container">

  {% include header.html %}

  {% include menu.html %}

  <!-- Newsletter navigation -->
  <div class="row">
    <div class="col-xs-4">
      {% assign post = site.categories.newsletter.first %}
      <h3>Current Issue</h3>
      <ul>
	  <li>
	    <a href="{{ post.url }}">
	      <em>vol. {{ site.post.vol }} issue {{ post.issue }}</em>
	      - {{ post.date | date_to_string }}
	    </a>
	  </li>
      </ul>

      <h3>Past Issues</h3>
      <ul>
	{% for post in site.categories.newsletter %}
	<li>
	  <a href="{{ post.url }}">
	    <em>vol. {{ post.vol }}
	      issue {{ post.issue }}</em>
	    - {{ post.date | date_to_string }}
	  </a>
	</li>
	{% endfor %}
      </ul>
    </div>

    <div class="col-xs-8">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

</div>

</body>

</html>
