---
layout: about_page
---

<h1>{{ page.title }}</h1>
<h2>{{ page.position }}</h2>

<div class="row">
  <div class="col-sm-3">
    <img src="{{ page.headshot }}" class="img-responsive img-thumbnail" />
  </div>
  <div class="col-sm-9">
    <dl>
      <dt>Email:</dt>
      <dd>
	<!-- <a href="mailto:{{ page.email }}" title="E-mail {{ page.title }}"> -->
	  {{ page.email }}
	<!-- </a> -->
      </dd>
      {% for line in page.address %}
      {% if forloop.first %}
      <dt>Address:</dt>
      {% endif %}
      <dd>
	{{ line }}
      </dd>
      {% endfor %}
      <dt>Phone:</dt>
      <dd>{{ page.phone }}</dd>
    </dl>
  </div>
</div>

<hr />

{{ page.content }}
