---
title: Events
layout: page
---

<h1>KACS Events</h1>

<!-- <p> -->
<!--   <img src="http://jglcrm2015.com/images/favicon.png" /> -->
<!--   Join us at the 2015 <a href="http://jglcrm2015.com" title="JGLCRM Homepage"> -->
<!--     Joint Great Lakes/Central Regional Meeting</a> -->
<!--   in Grand Rapids MI from 27-30 May 2015. -->
<!-- </p> -->


{% for event in site.categories.event %}
{% capture post_year %}{{ event.date | date: "%Y"}}{% endcapture %}
{% if post_year != curr_year %}
{% if forloop.index != 1 %}
</ul>
{% endif %}
<h2>{{ post_year }}</h2>
<ul class="event-list">
  {% capture curr_year %}{{ post_year }}{% endcapture %}
  {% endif %}
  <li{% if event.date > site.time %} class="future-event"{% endif %}>
    <a href="{{ site.baseurl }}{{ event.url }}">
      {{ event.heading }}</a>
    {{ event.date | date_to_long_string }}
  </li>
  {% endfor %}
</ul>

<h2>2011</h2>
<ul>
  <li>
    <a href="{{ site.baseurl }}/Activities/2011_KACS_PUR_Water.pdf">2011 Pennies for PUR Water</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/2011_Poster_Session.pdf">
      November 2011 - Poster Session at Bells &ldquo;Sustainable
      Science - Recycle a Poster&rdquo;
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/KACS_2011_museumday.pdf">
      October 2011 - Chemistry Day at the Kalamazoo Valley Museum
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/2011_FallSpeaker_Summary.pdf">
      September 2011 - Dr. Joe Vinson - Chemistry of Chocolate
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/SEED2011.html">Project SEED Reception 2011</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Science Cafe/sciencecafe.htm">SCIENCE CAFE Reports</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/2011_CGSA_BBQ_Summary.pdf">
      CGSA Barbeque, June 2011
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/Awards_Reception_2011_summary.doc">
      Annual Awards Reception, 5/23/11
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/Home_05-13-2011.pdf">HOME - the movie</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/CCED_2011_Report.pdf">
      KACS Chemists Celebrate Earth Day, 2011
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/WOFR_radio_interview_4-2-11.mp3">
      April 2, 2011 KACS interview on WOFR radio
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/Heindel/Ned-Heindel_Summary_03-22-2011.pdf">
      March 2011 - Dr. Ned Heindel - History of Patent Medicine
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/Heindel/WMUK_interview_HEINDEL_3-22-11.mp3">
      March 2011 - Dr. Ned Heindel - WMUK interview
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/MS_report_2-24-2011.pdf">
      February 2011 - inaugural meeting of KACS Mass Spectrometry
      Discussion Group
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/JanMixer01-20-2011.htm">January 2011-KACS mixer</a>
  </li>
</ul>

<h2>2010</h2>
<ul>
  <li>
    <a href="{{ site.baseurl }}/Reports/SEED2010.html">2010 SEED Reception</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/Awards.htm">Photos from 2010 Awards Night</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/NCW2010.htm">October 2010 - National Chemistry Week</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/2010_CCED_report_KACS.pdf">
      Chemists Celebrate Earth Day, 2010
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/Bridging the Gap Summary 4-6-10.pdf">
      April 2010 Student Mixer with local industry
    </a>
  </li>
</ul>

<h2>2009</h2>
<ul>
  <li>
    <a href="{{ site.baseurl }}/Reports/museum09.htm">
      2009 Museum Day Images
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/Banquet2009.html">
      Pictures from 2009 Awards Banquet
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/dean cooke.pdf">
      Dean Cooke awarded ACS Salute to Excellence (October 8, 2009)
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/Reports/2009 CCED Report.pdf">
      April 2009 - Chemists Celebrate Earth Day
    </a>
  </li>
</ul>

<h2>2008</h2>
</ul>
  <li>
    <a href="{{ site.baseurl }}/Reports/Jan08 KACS summary.pdf">
      Activity Summary January 2008
    </a>
  </li>
</ul>

<h2>2007</h2>
</ul>
  <li>
    <a href="{{ site.baseurl }}/Reports/Oct 07 Summary KACS Activities.pdf">
      Activity Summary October 2007
    </a>
  </li>
</ul>
